
/*
.btn {
    border-radius: 0;

}

.navbar-brand{
    font-family: sans-serif;
    font-size: 0.2em;
}
*/
h1{
    font-size: 1.2em;
    display: inline;
}
li{
    list-style: none;
}
header{

	border-top: 4px solid #ed1c24;
    background-image: url("../images/herbbowl.jpg");
    height: 150px;
    margin-top: 0;
	left: 0;


}
nav{
    width: 100%;
}

body{
    color: #e2e2e2;
    font-family: sans-serif;
    background-image:url(../images/AyateWallpaper.jpg);
}
a{
    color: #e2e2e2;
    text-decoration: none;
}
button{
    border: none;
    background: none;
}